*{
    margin: 0;

}

.title{
    display: flex;
    float: none;
    justify-content: center;
    font-family: "Righteous";
    font-weight: bold;
}

#header-title{
    justify-content: center;
}

#header-background{

    width: 100vw;
    margin-left: 0;
    height: 100%;
    background-color: rgb(209, 73, 32);
}
/*
    background-color: rgba(232,85,332,255); */
div{
    justify-content: center;
    align-content: center;
}

h1{
float: left;
}

.primary{
    background-color: rgba(232,85,32,255);
}

/* Primary color= rgba(232,85,32,255) */
/* Secondary color = rgba(232,85,32,255) */
