#footer-container{
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
}

h2{
    color: darkgray;
    font-family: "Righteous";
}

#footer-subtext{
  font-size: x-small;
}
