*{
    margin: 0;
}

div{
    background-color: rgba(232,85,32,255);
}


#body-container{
    display: grid;
    grid-template-columns: 25% 75%;
    /* margin-top: .25em; */
    background-color: rgba(232,85,32,255);
}

#notice-container{
    background-color: rgba(232,85,32,255);
    grid-column: 1/2;
    height: 41em;
    margin-bottom: 1em;
}

#notice-board{
    background-color: rgba(174,167,159,255);
    height: 30em;
    border-radius: 3em;
    border-color: black;
    border-style: solid;
    margin-top: 1em;
    /* margin-bottom: 1em; */
    margin-left: .5em;
    justify-content: center;
}

#notice-list{
    margin-top: 2em;
}

#notice-heading{
    margin-top: .5em;
    margin-left: 1.75em;
}

#featured-warehouses{
    grid-column: 2/3;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

p{
    display: flex;
}

/* Primary color= rgba(232,85,32,255) */
/* Secondary color = rgba(174,167,159,255) */
