*{
    margin: 0;
}

#webpage{
    display: grid;
    height: 100vh;
    grid-template-rows: 11% 83% 6%;
    grid-template-columns: 12.5% 87.5%; /* This is the same as 1fr 7fr but I'm leaving it as percents for consistency */
    background-color: rgba(232,85,32,255);
}

#header{
    grid-column: span 2;
}

#nav{
    grid-column: span 1;
}

#body{
    grid-column: span 2;
}

#footer{
  grid-column: span 2;
}
