/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}

.btn{
background-color: rgb(243, 141, 16);
border-color: black;
}

@font-face {
  font-family: "Righteous";
  src: url(https://fonts.googleapis.com/css?family=Righteous:regular);
}


